Kết quả:
Dom không bắt được chi tiết các sự kiện
1. Click không nhận trong 1 vài trường hợp
2. Input là gì cũng không tracking
3. Dropdown không nhận sự kiện, tôi chọn 1 option nhưng không thấy gì trong log
4. Network con số bên cạnh nên chỉ là số lượng request fail thôi. Khi click vào mới sau hết. Mình sẽ log ở Network những request đến API thôi. Loại bỏ các request tải file, hay là chrome extension\
5. Console vẫn không ghi nhận được lỗi trong khi bên extension có báo lỗi
